
/* figure everything out later because plaigarism is bad */

/* #7d7166 -> #31567b
   #59c1dd -> #5D7BC3
   #ff8a00 -> #ffce6a -> #eaa71e -> #fdad0b
   #596F70 -> #31567b
   #c7ccb1 -> #8b9299
   #b4b8bd -> #d3d6d9 -> #c9cccf
*/


/*HEADER STYLES*/

h1 /*Large Grey Title Text*/
{
	margin: 4px 0px 4px 0px;
	font-weight: 700;
	color: #31567b;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	text-align: center;		
	text-transform: uppercase;
}

h2 /*Blue, thin*/
{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 4px 0px 16px 0px;
	color:#5D7BC3;
	font-size:25px;
	text-align: center;
}


h3 /*Orange Title Text Projects*/
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin-top: 4px;
	margin-bottom: 8px;
	
 	text-transform: uppercase;
 	
  	color: #092A4A;
}

h4 /*Grey tagline text for projects*/
{
	color:#31567b;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: -4px;
	margin-bottom: 8px;
}

h5 /*Orange Title Text Art*/
{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 16px;
	
 	text-transform: uppercase;
 	letter-spacing: 0.03em;
  	color: #fdad0b;
}


/*DIV CLASSES*/

div.projectcontainer
{
	background-color:#c9cccf;
	color:#1a1b1d;
	width:650px;
	height: 150px;
	padding:10px;

	margin: 20px auto 0px auto;
	text-align: left;

}

div.artcontainer
{
	
	background-color:#c9cccf;
	color:#1a1b1d;
	width:650px;
	padding:10px;
	margin: auto;
	margin: 16px auto 16px auto;
	text-align: center;

}

/*FONT STYLES*/



div.projectcontainer a
{
	text-align: right;
	display: inline-block;
	margin-top: 10px;
	font-weight: 700;
	color: #FFFFFF;
	/*text-shadow: 0px 1px 3px #a4a894;*/
}

div.projectcontainer a:hover
{
	color: #fdad0b;

}


/*IMAGES AND THUMBS*/

img.project
{
	border: 1px solid #999999;
	margin-right: 12px;
	float: left;
}


.aboutpic
{
   
	margin: 0px auto 16px auto;
  	border: 1px solid #999999;
  	border-radius: 10px;
  
}

.thumb 
{
  display: inline-block;
  margin: 4px 4px 4px 4px;
  line-height: 0;
 
  border: 1px solid #999999;
  
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.thumb:hover
{
  border: 1px solid #FFFFFF;
}


/* splitting */

#tl
{
    position: fixed;
    left: 0;
    top: 35px;
    background-color:#000000;
    width: 50%;
    height: -moz-calc((100% - 35px) / 2);
    height: -webkit-calc((100% - 35px) / 2);
    height: -o-calc((100% - 35px) / 2);
    height: calc((100% - 35px) / 2);
    color:white;
}

#tr
{
    position: fixed;
    right: 0;
    top: 35px;
    background-color:#FFFFFF;
    width: 50%;
    height: -moz-calc((100% - 35px) / 2);
    height: -webkit-calc((100% - 35px) / 2);
    height: -o-calc((100% - 35px) / 2);
    height: calc((100% - 35px) / 2);
    color:black;
}

#br
{
    position: fixed;
    right: 0;
    bottom: 0;
    background-color:#000000;
    width: 50%;
    height: -moz-calc((100% - 35px) / 2);
    height: -webkit-calc((100% - 35px) / 2);
    height: -o-calc((100% - 35px) / 2);
    height: calc((100% - 35px) / 2);
    color:white;
}

#bl
{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:#FFFFFF;
    width: 50%;
    height: -moz-calc((100% - 35px) / 2);
    height: -webkit-calc((100% - 35px) / 2);
    height: -o-calc((100% - 35px) / 2);
    height: calc((100% - 35px) / 2);
    color:black;
}

#ll
{
    position: fixed;
    left: 0;
    top: 35px;
    background-color:#FFFFFF;
    width: 50%;
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -o-calc(100% - 35px);
    height: calc(100% - 35px);
    color:black;
}

#rr
{
    position: fixed;
    right: 0;
    top: 35px;
    background-color:#000000;
    width: 50%;
    height: -moz-calc(100% - 35px);
    height: -webkit-calc(100% - 35px);
    height: -o-calc(100% - 35px);
    height: calc(100% - 35px);
    color:white;
}